:host {
  display: block;
  padding-bottom: 75px;
  position: relative;
}

:host::after {
  content: '';
  border: 8px solid transparent;
  border-bottom-width: 0;
  border-top-color: white;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: -8px;
}
