<div class="wrapper clearfix">
  <div class="flex">
    <img src="assets/images/Logo.png" alt="">

    <ul class="menu" #menu>
      <li [ngClass]="{'active':itemStates[0]}">
        <a>
          <span>HOME</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="submenu">
          <li>All Products</li>
          <li>Lookbook</li>
          <li>Sales</li>
          <li>Gift Cards</li>
        </ul>
      </li>
      <li [ngClass]="{'active':itemStates[1]}">
        <a>
          <span>SHOP BY</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="submenu">
          <li>All Products</li>
          <li>Lookbook</li>
          <li>Sales</li>
          <li>Gift Cards</li>
        </ul>
      </li>
      <li [ngClass]="{'active':itemStates[2]}">
        <a>
          <span>ALL PAGES</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="submenu">
          <li>All Products</li>
          <li>Lookbook</li>
          <li>Sales</li>
          <li>Gift Cards</li>
        </ul>
      </li>
      <li [ngClass]="{'active':itemStates[3]}">
        <a>
          <span>SHORTCODES</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="submenu">
          <li>All Products</li>
          <li>Lookbook</li>
          <li>Sales</li>
          <li>Gift Cards</li>
        </ul>
      </li>
      <li [ngClass]="{'active':itemStates[4]}">
        <a>
          <span>BLOG</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="submenu">
          <li>All Products</li>
          <li>Lookbook</li>
          <li>Sales</li>
          <li>Gift Cards</li>
        </ul>
      </li>
    </ul>
    <div class="shopping-cart">
      <p class="title">
        <span>SHOPPING BAG</span>
        <i class="fa fa-angle-down"></i>
      </p>
      <p class="cost">
        <span>$66</span>
        <span>/</span>
        <span>2Items</span>
      </p>
    </div>
  </div>

</div>
