<div class="wrapper clearfix">
  <p>
    <img src="assets/images/Logo.png" alt="">
  </p>
  <ul class="menu">
    <li>
      <a>
        <span>HOME</span>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="submenu">
        <li>All Products</li>
        <li>Lookbook</li>
        <li>Sales</li>
        <li>Gift Cards</li>
      </ul>
    </li>
    <li>
      <a>
        <span>SHOP BY</span>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="submenu">
        <li>All Products</li>
        <li>Lookbook</li>
        <li>Sales</li>
        <li>Gift Cards</li>
      </ul>
    </li>
    <li>
      <a>
        <span>ALL PAGES</span>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="submenu">
        <li>All Products</li>
        <li>Lookbook</li>
        <li>Sales</li>
        <li>Gift Cards</li>
      </ul>
    </li>
    <li>
      <a>
        <span>SHORTCODES</span>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="submenu">
        <li>All Products</li>
        <li>Lookbook</li>
        <li>Sales</li>
        <li>Gift Cards</li>
      </ul>
    </li>
    <li>
      <a>
        <span>BLOG</span>
        <i class="fa fa-angle-down"></i>
      </a>
      <ul class="submenu">
        <li>All Products</li>
        <li>Lookbook</li>
        <li>Sales</li>
        <li>Gift Cards</li>
      </ul>
    </li>
  </ul>
</div>
