<p>Serious dating with
  <span class="bold">SweetDate4u</span>
</p>
<p>Your perfect match is just a click away</p>
<form>
  <div class="form-group">
    <label for="gender">I am:</label>
    <app-dropdown-input [items]="dropdown" index="0"></app-dropdown-input>
  </div>
  <div class="form-group">
    <label for="searching">Searching for:</label>
    <app-dropdown-input [items]="dropdown" index="1"></app-dropdown-input>
  </div>
  <div class="form-group">
    <label for="age">Age:</label>
    <input type="number">
  </div>
  <button>
    <i class="fa fa-search"></i>
    SEARCH
  </button>
</form>
