:host {
  width: 356px;
  height: 175px;
  background-image: url('../../assets/images/roll_back.png');
  background-position: top left;
  background-repeat: repeat;
  display: block;
  border: 11px solid #fafafa;
  border-top-width: 0;
  margin-top: -22px;
}
