app-slide-carousel {
  height: 500px;
}

main {
  width: 940px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.products {
  position: relative;
}

.products .content {
  display: flex;
  justify-content: space-between;
}

.category {
  height: 376px;
}

footer {
  height: 396px;
  background-color: black;
}

.themetitle {
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  padding: 34px 53px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
