app-slide-carousel {
  height: 500px;
}

main {
  width: 940px;
  margin: 0 auto;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.products {
  border-top: 1px solid #c3c3c3;
  position: relative;
}

.products header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  margin-bottom: 30px;
}
.products .content{
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 10px;
  font-weight: bold;
}

.shortline {
  height: 2px;
  width: 60px;
  background: #000;
  position: absolute;
  top: 60px;
}

.prevnext span {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 2px solid #b2b2b2;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  color: #b2b2b2;
  font-size: 20px;
}

.prevnext span:first-child i {
  margin-left: -3px;
}

.prevnext span:last-child i {
  margin-right: -3px;
}

.category {
  height: 376px;
}

footer {
  height: 396px;
  background-color: black;
}
