<header>
  <app-top-bar></app-top-bar>
  <app-navbar></app-navbar>
  <app-slide-carousel [items]="carouselItems"></app-slide-carousel>
</header>
<main>
  <section class="cards"></section>
  <section class="products"></section>
  <section class="team"></section>
  <section class="testimonials"></section>
  <section class="blogs"></section>
  <section class="work"></section>
  <section class="themes"></section>
  <section class="moretheme"></section>
  <section class="prices"></section>
  <section class="services"></section>
  <section class="blogdetail"></section>
  <section class="qa"></section>
  <section class="blogimg"></section>
  <section class="category"></section>
</main>
<footer>


</footer>
