<ul #menu>
  <li [ngClass]="{'active':states[0]}">
    <a>RETAIL</a>
    <i class="fa fa-angle-right"></i>
    <div class="hidecontent">
      <h2>Banksy blog, synth post-ironic sweater</h2>
      <p>Gentrify stumptown chillwave, pop-up tofu DIY cardigan jean shorts blog wayfarers before they sold out authentic bushwick
        high life Austin. Scenester blue bottle wolf beard, bespoke truffaut tousled viral organic. Kale chips intelligentsia
        cosby sweater selfies art party pitchfork irony ennui, quinoa try-hard cardigan hella you probably haven't heard
        of them sriracha locavore.</p>
      <p>Art party vinyl banjo 90's, authentic 3 wolf moon williamsburg small batch shoreditch meggings gastropub aesthetic
        odd future. Next level meggings banksy, authentic kogi disrupt pinterest terry richardson carles. Fanny pack keffiyeh
        mustache polaroid. Retro post-ironic food truck selvage ethical. Pour-over freegan street art, selvage carles meh
        pitchfork bicycle rights mustache you probably haven't heard of them mlkshk shoreditch. Stumptown pork belly blue
        bottle irony lomo, fap keytar.</p>
    </div>
  </li>
  <li [ngClass]="{'active':states[1]}">
    <a>STRATEGY</a>
    <i class="fa fa-angle-right"></i>
    <div class="hidecontent">
      <h2>Banksy blog, synth post-ironic sweater 1</h2>
      <p>Gentrify stumptown chillwave, pop-up tofu DIY cardigan jean shorts blog wayfarers before they sold out authentic bushwick
        high life Austin. Scenester blue bottle wolf beard, bespoke truffaut tousled viral organic. Kale chips intelligentsia
        cosby sweater selfies art party pitchfork irony ennui, quinoa try-hard cardigan hella you probably haven't heard
        of them sriracha locavore.</p>
      <p>Art party vinyl banjo 90's, authentic 3 wolf moon williamsburg small batch shoreditch meggings gastropub aesthetic
        odd future. Next level meggings banksy, authentic kogi disrupt pinterest terry richardson carles. Fanny pack keffiyeh
        mustache polaroid. Retro post-ironic food truck selvage ethical. Pour-over freegan street art, selvage carles meh
        pitchfork bicycle rights mustache you probably haven't heard of them mlkshk shoreditch. Stumptown pork belly blue
        bottle irony lomo, fap keytar.</p>
    </div>
  </li>
  <li [ngClass]="{'active':states[2]}">
    <a>DESIGN</a>
    <i class="fa fa-angle-right"></i>
    <div class="hidecontent">
      <h2>Banksy blog, synth post-ironic sweater 2</h2>
      <p>Gentrify stumptown chillwave, pop-up tofu DIY cardigan jean shorts blog wayfarers before they sold out authentic bushwick
        high life Austin. Scenester blue bottle wolf beard, bespoke truffaut tousled viral organic. Kale chips intelligentsia
        cosby sweater selfies art party pitchfork irony ennui, quinoa try-hard cardigan hella you probably haven't heard
        of them sriracha locavore.</p>
      <p>Art party vinyl banjo 90's, authentic 3 wolf moon williamsburg small batch shoreditch meggings gastropub aesthetic
        odd future. Next level meggings banksy, authentic kogi disrupt pinterest terry richardson carles. Fanny pack keffiyeh
        mustache polaroid. Retro post-ironic food truck selvage ethical. Pour-over freegan street art, selvage carles meh
        pitchfork bicycle rights mustache you probably haven't heard of them mlkshk shoreditch. Stumptown pork belly blue
        bottle irony lomo, fap keytar.</p>
    </div>
  </li>
  <li [ngClass]="{'active':states[3]}">
    <a>SPECIAL DISCOUNTS</a>
    <i class="fa fa-angle-right"></i>
    <div class="hidecontent">
      <h2>Banksy blog, synth post-ironic sweater 3</h2>
      <p>Gentrify stumptown chillwave, pop-up tofu DIY cardigan jean shorts blog wayfarers before they sold out authentic bushwick
        high life Austin. Scenester blue bottle wolf beard, bespoke truffaut tousled viral organic. Kale chips intelligentsia
        cosby sweater selfies art party pitchfork irony ennui, quinoa try-hard cardigan hella you probably haven't heard
        of them sriracha locavore.</p>
      <p>Art party vinyl banjo 90's, authentic 3 wolf moon williamsburg small batch shoreditch meggings gastropub aesthetic
        odd future. Next level meggings banksy, authentic kogi disrupt pinterest terry richardson carles. Fanny pack keffiyeh
        mustache polaroid. Retro post-ironic food truck selvage ethical. Pour-over freegan street art, selvage carles meh
        pitchfork bicycle rights mustache you probably haven't heard of them mlkshk shoreditch. Stumptown pork belly blue
        bottle irony lomo, fap keytar.</p>
    </div>
  </li>
  <li [ngClass]="{'active':states[4]}">
    <a>GIFTCARDS</a>
    <i class="fa fa-angle-right"></i>
    <div class="hidecontent">
      <h2>Banksy blog, synth post-ironic sweater 4</h2>
      <p>Gentrify stumptown chillwave, pop-up tofu DIY cardigan jean shorts blog wayfarers before they sold out authentic bushwick
        high life Austin. Scenester blue bottle wolf beard, bespoke truffaut tousled viral organic. Kale chips intelligentsia
        cosby sweater selfies art party pitchfork irony ennui, quinoa try-hard cardigan hella you probably haven't heard
        of them sriracha locavore.</p>
      <p>Art party vinyl banjo 90's, authentic 3 wolf moon williamsburg small batch shoreditch meggings gastropub aesthetic
        odd future. Next level meggings banksy, authentic kogi disrupt pinterest terry richardson carles. Fanny pack keffiyeh
        mustache polaroid. Retro post-ironic food truck selvage ethical. Pour-over freegan street art, selvage carles meh
        pitchfork bicycle rights mustache you probably haven't heard of them mlkshk shoreditch. Stumptown pork belly blue
        bottle irony lomo, fap keytar.</p>
    </div>
  </li>
</ul>
<div class="content" #content></div>
