<header>
  <div class="wrapper flex">
    <img src="assets/images/logo.png" class="logo" alt="">
    <app-navbar></app-navbar>
  </div>
  <div class="banner">
    <img src="assets/images/banner.png" alt="">
  </div>
</header>
<main>
  <div class="products clearfix">
    <app-product-item *ngFor="let prod of products;let i=index;" [item]="prod"></app-product-item>
  </div>
  <app-icon-header icon="fa-wpforms" title="LATEST NEWS"></app-icon-header>
  <div class="news flex">
    <app-news-item title="Title of the article in the blog" date="2018/02/04" comments="6"></app-news-item>
    <app-news-item title="Title of the article in the blog" date="2018/02/04" comments="6"></app-news-item>
    <app-news-item title="Title of the article in the blog" date="2018/02/04" comments="6"></app-news-item>
    <app-news-item title="Title of the article in the blog" date="2018/02/04" comments="6"></app-news-item>
  </div>
  <app-icon-header icon="fa-suitcase" title="LATEST WORKS"></app-icon-header>
  <div class="works clearfix">
    <app-work-item *ngFor="let src of srcs;let i=index" [src]="src" [span]="(i+1)%3===0?2:1"></app-work-item>
  </div>
</main>
<footer>
  <div class="wrapper flex">
    <div class="item">
      <h3>PRODUCT CATEGORIES</h3>
      <div class="categories">
        <a>Woman bags</a>
        <a>Woman bags</a>
        <a>Man bags</a>
        <a>Man bags</a>
        <a>Man shoes</a>
        <a>Man shoes</a>
        <a>Woman shoes</a>
        <a>Woman shoes</a>
        <a>Miscellaneous</a>
        <a>Miscellaneous</a>
        <a>Clothes</a>
        <a>Clothes</a>
      </div>
    </div>
    <div class="item">
      <h3>FROM GALLERY</h3>
      <div class="clearfix">
        <div class="gallery">
          <img src="assets/images/gallery.png" alt="">
        </div>
        <div class="gallery">
          <img src="assets/images/gallery.png" alt="">
        </div>
        <div class="gallery">
          <img src="assets/images/gallery.png" alt="">
        </div>
        <div class="gallery">
          <img src="assets/images/gallery.png" alt="">
        </div>
        <div class="gallery">
          <img src="assets/images/gallery.png" alt="">
        </div>
        <div class="gallery">
          <img src="assets/images/gallery.png" alt="">
        </div>
      </div>
    </div>
    <div class="item">
      <h3>NEWS</h3>
      <div class="news clearfix">
        <div class="date">
          <p class="month">May</p>
          <p class="day">20</p>
        </div>
        <div class="info">
          <p class="title">Enjoy the Sistina theme!</p>
          <p class="comments">15 comments</p>
        </div>
      </div>
      <div class="news clearfix">
        <div class="date">
          <p class="month">May</p>
          <p class="day">20</p>
        </div>
        <div class="info">
          <p class="title">Enjoy the Sistina theme!</p>
          <p class="comments">15 comments</p>
        </div>
      </div>
    </div>
    <div class="item">
      <h3>GET SOCIALS</h3>

    </div>
  </div>

  <div class="copyright">
    <p>Home / about / testimonials / faq / blog / portfolio
    </p>
    <p> Copyright 2013 - Sistina theme by
      <span class="highlight"> Your Inspiration Themes</span>
    </p>
  </div>
</footer>
