:host {
  display: inline-block;
  width: 225px;
}

.text {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 9px;
  color: #777;
  padding: 14px;
  margin: 0;
  position: relative;
}

.text::after {
  content: '';
  border: 7px solid transparent;
  border-bottom-width: 0;
  border-top-color: #ddd;
  position: absolute;
  left: 50%;
  bottom: -7px;
  margin-left: -7px;
}

.name {
  font-size: 10px;
  color: #545454;
  text-align: center;
}

.position {
  font-size: 8px;
  text-align: center;
  color: #aaa;
}
