<ul class="menu">
  <li>
    <a>HOME</a>
  </li>
  <li>
    <a>SHOP BY
      <i class="fa fa-angle-down"></i>
    </a>
    <div class="submenu flex">
      <div class="item">
        <h3 class="title highlight">Categories</h3>
        <a>Dresses</a>
        <a>Shirts</a>
        <a>Shoes</a>
        <a>Bages & Purses</a>
        <a>Hoodies & Sweatshirts</a>
        <a>Jackets & Coats</a>
      </div>
      <div class="item">
        <h3 class="title highlight">Brand</h3>
        <a>Mosquito</a>
        <a>Cavalletti</a>
        <a>Ferragamezzo</a>
        <a>Manolo batique</a>
        <a>Hoodies & Sweatshirts</a>
        <a>Jackets & Coats</a>
      </div>
      <div class="item">
        <h3 class="title highlight">Price</h3>
        <a>> 75.00 $</a>
        <a>75 - 100 $</a>
        <a>100 - 200 $</a>
        <a>200 - 300 $</a>
        <a>300 - 500 $</a>
        <a>> 500 $</a>
      </div>
    </div>
  </li>
  <li>
    <a>PAGES</a>
  </li>
  <li>
    <a>BLOG</a>
  </li>
  <li>
    <a>CONTACT US</a>
  </li>
  <li>
    <a>WELCOME,
      <span class="highlight"> LOGIN</span>
    </a>
  </li>
  <li>
    <a>
      <i class="fa fa-globe"></i>US
    </a>
  </li>
  <li>
    <a>
      <i class="fa fa-shopping-basket"></i>
      Cart
      <span class="badge highlight">6</span>
    </a>
    <div class="cart">
      <h3>Recently added items</h3>
      <hr>
      <div class="cart-item flex">
        <div class="flex">
          <img src="assets/images/cart_item.png" alt="">
          <div class="info">
            <p class="name">Bicolor man shoes</p>
            <p class="price highlight">2 x $1,090.50</p>
          </div>
        </div>
        <i class="fa fa-times"></i>
      </div>
      <hr>
      <div class="cart-item flex">
        <div class="flex">
          <img src="assets/images/cart_item.png" alt="">
          <div class="info">
            <p class="name">Bicolor man shoes</p>
            <p class="price highlight">2 x $1,090.50</p>
          </div>
        </div>
        <i class="fa fa-times"></i>
      </div>
      <hr>
      <button class="btnfull">PROCEED TO CHECKOUT</button>
    </div>
  </li>
</ul>
