<div class="info">
  <img src="assets/images/placehold-small.png" alt="">
  <div class="nandp">
    <p class="name">{{item.name}}</p>
    <p class="position">{{item.position}}</p>
  </div>
</div>
<p class="detail">
  <span class="bold">Born:</span>
  <span class="light">{{item.born}}</span>
</p>
<p class="detail">
  <span class="bold">Studies:</span>
  <span class="light">{{item.studies}}</span>
</p>
<p class="detail">
  <span class="bold">Skills:</span>
  <span class="light">{{item.skills}}</span>
</p>
