<div class="wrapper">
  <img src="assets/images/logo.png" class="logo" alt="logo">
  <ul class="menu">
    <li>
      <a href="#">HOME</a>
    </li>
    <li>
      <a href="#">ABOUT US</a>
      <ul class="submenu">
        <li>
          <a href="#">THE STORY </a>
        </li>
        <li>
          <a href="#">STATISTICS</a>
        </li>
        <li>
          <a href="#">OUR WORKS</a>
          <ul class="submenu">
            <li>
              <a href="#">PORTFOLIO</a>
            </li>
            <li>
              <a href="#">FEATURED</a>
            </li>
            <li>
              <a href="#">AWARDS</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">TESTIMONALS</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">PORTFOLIO</a>
    </li>
    <li>
      <a href="#">GALLERIES</a>
    </li>
    <li>
      <a href="#">OUR BLOG</a>
    </li>
    <li>
      <a href="#">CONTACT</a>
    </li>
  </ul>
</div>
<img src="assets/images/menushadow.png" class="shadow" alt="shadow">
