<section class="topbar">
  <span class="email">
    <i class="fa fa-envelope"></i>
    <span>info@sweetdate.com</span>
  </span>
  <span class="social">
    <span>Find us on:</span>
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-google-plus"></i>
    <i class="fa fa-pinterest"></i>
    <i class="fa fa-linkedin"></i>
  </span>
</section>
<section class="login">
  <img src="assets/images/logo.png" alt="logo" class="logo">
  <div class="controls">
    <button class="btnlogin">
      <i class="fa fa-user"></i>
      <span>LOG IN</span>
    </button>
    <button class="btnsignup">
      <i class="fa fa-users"></i>
      <span>SIGN UP</span>
    </button>
  </div>
  <div class="searchgroup">
    <app-search-form></app-search-form>
    <app-roll-carousel></app-roll-carousel>
  </div>

</section>
<section class="joinus"></section>
<section class="member"></section>
<section class="subscribe"></section>
<footer></footer>
