:host {
  display: block;
  margin: 0 auto;
  background-color: #000;
  height: 30px;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  font-size: 10px;
}

p {
  float: left;
  color: #b39964;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
}

.operation {
  float: right;
  line-height: 30px;
}

a {
  color: #FFF;
  margin-right: 20px;
}

input {
  height: 24px;
  line-height: 30px;
  width: 178px;
  margin-right: 10px;
}
