/* You can add global styles to this file, and also import other style files */

.wrapper {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table;
}

.clearfix::after {
  clear: both;
}
