:host {
  display: block;
  margin: 60px 0;
  position: relative;
  text-align: center;
}

:host::before {
  content: '';
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  z-index: -1;
}

span {
  border: 2px solid #000;
  padding: 10px 30px;
  background-color: #FFF;
}
