<header>
  <app-navbar></app-navbar>
  <app-banner></app-banner>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="info">
    <div class="wrapper flex">
      <div class="logowrapper">
        <img src="assets/images/logo-dark.png" alt="">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum feti et condimentum ultrices pellentesque
          maur. </p>
      </div>
      <div class="touch">
        <h2>GET IN TOUCH</h2>
        <hr>
        <p>
          <i class="fa fa-home"></i>
          <span>25 Sunset Blvd. CA, 935</span>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <span>0034 556.445.623</span>
        </p>
        <p>
          <i class="fa fa-envelope"></i>
          <span>office@wiseguys.com</span>
        </p>
        <p class="share">
          <i class="fa fa-vimeo"></i>
          <i class="fa fa-facebook"></i>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-pinterest"></i>
          <i class="fa fa-ellipsis-h"></i>
        </p>
      </div>
      <div class="about">
        <h2>ABOUT WISE GUYS</h2>
        <hr>
        <p>The story behind our company</p>
        <hr>
        <p>Our client testimonials</p>
        <hr>
        <p>An offer you can't refuse</p>
        <hr>
        <p>Some of our best works</p>
        <hr>
      </div>
      <div class="tweets">
        <h2>LATEST TWEETS</h2>
        <hr>
        <div class="clearfix">
          <p class="icon">
            <i class="fa fa-twitter"></i>
          </p>
          <p>Check out our seriously cool themes by WiseGuys http://ly.byt </p>
          <p class="time">2 minutes ago</p>
        </div>
        <hr>
        <div class="clearfix">
          <p class="icon">
            <i class="fa fa-twitter"></i>
          </p>
          <p>Check out our seriously cool themes by WiseGuys http://ly.byt </p>
          <p class="time">2 minutes ago</p>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="wrapper flex">
      <p>Copyright (C) Wise Guys 2012</p>
      <ul>
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#">NEWS</a>
        </li>
        <li>
          <a href="#">PORTFOLIO</a>
        </li>
        <li>
          <a href="#">THE BLOG</a>
        </li>
        <li>
          <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
